* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1744;
    color: #333;
    padding: 20px;
}

h1 {
    color: #0056b3;
    margin-bottom: 20px;
    gap: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #ccc;
}

a {
    color: #0056b3;
    text-decoration: none;
}

form {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

h2 {
    color: #0056b3;
    margin-top: 30px;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #ccc;
    
}